// Mixins in here
.flex-start-mixin {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 30%;
    
}

.flex-end-mixin {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30%;
}

.border-mixin {
    border: solid 1px red;
}